<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        
    </div>
    <div class="wrapper">
        <div class="container">
            <form class="match-predict-form" action="/match" method="POST">
                <div class="match current">
                    <div class="team-group">

                        <div class="team">
                            <div class="team-flag end" style="background: url(https://s1cdn.vnecdn.net/vnexpress/restruct/i/v680/flag/Argentina.png);">
                                <input type="radio"  class="choices end"value="Argentina" name="team1">                                
                            </div>
                            <h1 class="team-name">Argentina</h1>
                        </div>
                        <div class="score-board">
                            <h1 class="time" id="team1-coundown"></h1>                                                
                            <div class="score-display">
                                <input type="text" class="score end"  name="team1score" placeholder="0" />
                                <div class="space-between">-</div>
                                <input type="text" class="score end"  name="team2score"  placeholder="0" />
                            </div>
                            <div class="draw">
                                <label for="team1">Chọn 2 đôi hòa</label>
                                <input type="radio" class="choices end"value="draw" name="team1">
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag end" style="background: url(https://upload.wikimedia.org/wikipedia/commons/0/0d/Flag_of_Saudi_Arabia.svg);">
                                <input type="radio"  class="choices end"value="Saudi Arabia" name="team1" >
                            </div>
                            <h1 class="team-name">Saudi Arabia</h1>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="team-group">
                        <div class="team">
                            <div class="team-flag end" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/1280px-Flag_of_Denmark.svg.png);">
                                <input type="radio"  class="choices end"value="Đan Mạch" name="team2">
                            </div>
                            <h1 class="team-name">Đan Mạch</h1>
                        </div>
                        <div class="score-board">    
                            <h1 class="time" id="team2-coundown"></h1>  
                            <div class="score-display">    
                                <input type="text" class="score end" name="team3score" placeholder="0" />
                                <div class="space-between">-</div>
                                <input type="text" class="score end" name="team4score"  placeholder="0" />
                            </div>
                            <div class="draw">
                                <label for="team1">Chọn 2 đôi hòa</label>
                                <input type="radio"  class="choices end"value="draw" name="team2">
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag end" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Tunisia.svg/2560px-Flag_of_Tunisia.svg.png);">
                                <input type="radio"  class="choices end"value="Tunisia" name="team2">
                            </div>
                            <h1 class="team-name">Tunisia</h1>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="team-group">
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Mexico.png/1280px-Flag_of_Mexico.png);">
                                <input type="radio" class="choices"value="Mexico" name="team3">
                            </div>
                            <h1 class="team-name">Mexico</h1>
                        </div>
                        <div class="score-board">  
                            <h1 class="time" id="team3-coundown"></h1>
                            <div class="score-display">    
                                <input type="text" class="score" name="team5score" placeholder="0" />
                                <div class="space-between">-</div>
                                <input type="text" class="score" name="team6score"  placeholder="0" />
                            </div>
                            <div class="draw">
                                <label for="team1">Chọn 2 đôi hòa</label>
                                <input type="radio"  class="choices"value="draw" name="team3">
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_Poland.svg/2560px-Flag_of_Poland.svg.png);">
                                <input type="radio"  class="choices"value="Ba lan" name="team3">
                            </div>
                            <h1 class="team-name">Ba lan</h1>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="team-group">
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/6/62/Flag_of_France.png);">
                                <input type="radio" class="choices"value="Pháp" name="team4">
                            </div>
                            <h1 class="team-name">Pháp</h1>
                        </div>
                        <div class="score-board">  
                            <h1 class="time" id="team4-coundown"></h1>
                            <div class="score-display">    
                                <input type="text" class="score" name="team7score" placeholder="0" />
                                <div class="space-between">-</div>
                                <input type="text" class="score" name="team8score"  placeholder="0" />
                            </div>
                            <div class="draw">
                                <label for="team1">Chọn 2 đôi hòa</label>
                                <input type="radio"  class="choices"value="draw" name="team4">
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-flag" style="background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Australia.svg/2560px-Flag_of_Australia.svg.png);">
                                <input type="radio"  class="choices"value="Australia" name="team4">
                            </div>
                            <h1 class="team-name">Australia</h1>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="playerId" id="playerId" placeholder="Vui lòng nhập đúng tên đăng nhập" required oninvalid="this.setCustomValidity('Vui lòng điền tên tài khoản')" oninput="this.setCustomValidity('')">
                    <input type="submit" id="submit" value="Xác Nhận">
                </div>                
                <div class="notification">
                    <h1 class="notification-title">LƯU Ý!</h1>
                    <p>* Quý khách vui lòng điền đầy đủ điểm số đội thắng/ thua ( không ghi bằng chữ ), để trống sẽ được tính là không hợp lệ.</p>
                </div>
            </form>
        </div>
    </div>
    <script src="/script/countdown.js"></script>
    <script src="/script/script.js"></script>
</body>
</html>